@model JobPortal.Models.jobs
@{
    ViewBag.ParentTitle = "Jobs";
    ViewBag.SubTitle = "Apply Job";

    int? jobId = 0;

   
            <text>

                <div class="job_single_wrapper jb_cover">
                                <div class="container">
                                    @if (TempData["applied"] != null)
                                    {
                                        <div class="alert alert-success alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>@TempData["applied"]</strong>
                                        </div>
                                    }
                                    @if (TempData["Already"] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>@TempData["Already"]</strong>
                                        </div>
                                    }
                                    @*@if (User.IsInRole("Admin"))
        {
            <div>
                <button onclick="myFunction()" class="btn btn-primary">Copy job Link</button>
            </div>
        }*@

                                    <div class="row">
                                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                            <div class="job_filter_category_sidebar jb_cover">
                                                <div class="job_filter_sidebar_heading jb_cover">
                                                    <h1>סקירה כללית</h1>
                                                </div>
                                                <div class="job_overview_header jb_cover">
                                                    <div class="jb_job_overview_img">
                                                        <img src="~/Content/logo.jpg" class="img-fluid" alt="@Model.Title" />
                                                        <h4>@Model.Title</h4>
                                                        

                                                    </div>

                                                    <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                                        <div class="jp_listing_list_icon">
                                                            <i class=""></i>
                                                        </div>
                                                        <div class="jp_listing_list_icon_cont_wrapper">
                                                            <ul>
                                                                <li>מיקום:</li>
                                                                <li>@Model.Location</li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                                        <div class="jp_listing_list_icon">
                                                            <i class=""></i>
                                                        </div>
                                                        <div class="jp_listing_list_icon_cont_wrapper">
                                                            <ul>
                                                                <li>שעות שבועיות:</li>
                                                                <li>@Model.HrsPerWeek</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="jp_listing_overview_list_main_wrapper jb_cover">
                                                        <div class="jp_listing_list_icon">
                                                            <i class=""></i>
                                                        </div>
                                                        <div class="jp_listing_list_icon_cont_wrapper">
                                                            <ul>
                                                                <li>שכר:</li>
                                                                <li>@Model.Salary</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    @if (!User.IsInRole("Recruiter") && !User.IsInRole("Admin"))
                                                    {
                                                        <div class="header_btn search_btn news_btn overview_btn  jb_cover">

                                                            <a href="@Url.Action("applied","userjobs",new { jobid = Model.JobId})">הגש מועמדות</a>

                                                        </div>
                                                    }


                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                                            <div class="jb_listing_single_overview jb_cover">
                                                <div class="jp_job_des jb_cover">
                                                    <h2 class="job_description_heading">תיאור המשרה:</h2>

                                                    @Html.Raw(Server.HtmlDecode(Model.RequiredDescription))
                                                </div>

                                                <div class="jp_job_res jb_cover minimum_cover">
                                                    <h2 class="job_description_heading">ניסיון דרוש:</h2>

                                                    @Html.Raw(Server.HtmlDecode(Model.RequiredExperience))
                                                    <br />
                                                    @Html.Raw(Server.HtmlDecode(Model.Skills))
                                                </div>
                                                @if (!User.IsInRole("Recruiter") && !User.IsInRole("Admin"))
                                                {
                                                    <div class="jp_job_res jb_cover">
                                                        <h2 class="job_description_heading">טיפ:</h2>
                                                        <p>
                                                            תזכרו! קורות חיים מפורטים יותר מגדילים את הסיכוי להתקבל.
                                                        </p>
                                                    </div>
                                                }

                                                </div>


                                        </div>
                                    </div>
                                </div>
                </div>
            </text>
       

       
    
   
}

@section scripts{

}

